/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, .main-menu > li > a, .ltext-102 {
    font-family: 'Roboto', sans-serif ;
}
.hidden  {
    display: none !important;
} */

/* login */
.form-container {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    /* Thêm margin để căn trên và dưới */
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Giãn cách đều giữa các thành phần */
}

.hidden {
    display: none;
}

.input-group {
    position: relative;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.custom-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.custom-input:focus {
    border-color: #6e8efb;
}

.custom-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6e8efb;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #5a79e1;
}

.forgot-password {
    text-align: center;
}

.forgot-password a {
    color: #6e8efb;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.toggle {
    text-align: center;
}

.toggle a {
    color: #6e8efb;
    text-decoration: none;
}

.toggle a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.slider-section {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        position: relative; /* Để định vị các nút mũi tên */
    }
    .slider img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .slick-prev, .slick-next {
        background-color: #333;
        color: #fff;
        border-radius: 50%;
        padding: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .slick-prev {
        left: 15px;
    }
    .slick-next {
        right: 15px;
    }
    .slick-prev:hover, .slick-next:hover {
        background-color: #555;
    }

    /* Trang quan ly tai khoan */
    